
body {
    background-image: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .box-form {
    width: 500px; 
    height: 200px;
    background: #a5a8e9ad;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px 6px #090b6f85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff; 
  }
  
  @media (max-width: 980px) {
    .box-form {
      width: 80%; 
    }
  }
